.pagesliderWrapper {
    width: 100%;
  }
  
  .barNavigationButton {
    width: 33.33%;
    margin-top: 5pt;
    margin-bottom: 5pt;
    background: white;
    height: 30px;
    color: black;
    outline: none;
    border-width: 0 0 5px;
    border-color: transparent;
  }

.padding {
  margin:15px;
  display: grid;
  justify-content: center;
}
  
.maxwidth{
  max-width: 650px;
}
  .barNavigationButtonActive {
    border-bottom-width: 3px;
    border-bottom-color: #c7fffc;
  }
  
  .barNavigationButtonInactive {
    border-bottom-color: transparent;
  }
  
.clickbox {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        border:none;
        font-weight: bolder;
        font-size: 16pt;
        color:rgb(255, 255, 255);
        overflow: hidden; 
        display: flex;
        margin: 2px;
        box-shadow:none;
        align-items: center;
        justify-content: center;
      
}

.centerlogo{
    background-image: url('/logo.png');
    background-position: center;
    background-size: cover;
}

.education {
    background-image: url('/교육학.png');
    background-position: center;
    background-size: cover;
  }
  
  .naturescience {
    background-image: url('/자연과학.png');
    background-position: center;
    background-size: cover;
  }
  
  .liberalarts {
    background-image: url('/인문학.png');
    background-position: center;
    background-size: cover;
  }
  
  .socience {
    background-image: url('/사회학.png');
    background-position: center;
    background-size: cover;
  }
  
  .mechanics {
    background-image: url('/공학.png');
    background-position: center;
    background-size: cover;
  }
  
  .medicine {
    background-image: url('/의약학.png');
    background-position: center;
    background-size: cover;
  }
  
  .artPhysical {
    background-image: url('/예술체육학.png');
    background-position: center;
    background-size: cover;
  }
  
  .agricultureOcean {
    background-image: url('/농수해양학.png');
    background-position: center;
    background-size: cover;
  }

.flexContainer {
display: flex;
align-content: space-evenly;
padding: 0px;
font-weight: 700;
color: gray;
}

.flexContainerPlain {
display: flex;
}

.heading {
font-size: 15pt;
font-weight: bold;
}

.margin1px {
margin-top: 1px;
}

.headingLg {
font-size: 20pt;
margin-left: 2%;
font-weight: 900;
line-height: 1;
margin: 1rem 0;
}

.textdeconone {
text-decoration: none;
}

.slidebar {  
width: 33.33%;
background: white;
height: 30px;
color: black;
outline: none;
border-width: 0 0 5px; 
border-color: transparent;
border-bottom-width : 3px;
border-bottom-color : #A1DBD8; 

}


.container{
max-width: 80rem;
margin: 2rem auto;
}


.generalText {
margin-left: 5%;
margin-right: 5%;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12pt;
color:black;
line-height: 1.5;
}

.choosebutton {
height:25px;
width:70px;
border-radius:35px; 
border:none;
background-color: lightgreen;
}

.iconWithText {
display: flex; 
align-items: center; 
}

.plusbutton {
color: rgb(222, 222, 222);
height: 30px;
width: 30px;
display:flex;
align-content: center;
}

.addbox {
margin: 10px;
border: 1px solid #ccc;
border-radius: 0px;
font-size: 16px;
width: 300px;
min-height: 100px;
}

.verysmalltext {
font-size: 1pt;
}

.smalltext {
font-size: 9pt;
}

