
.buttonStyle {
    background: none;
    border: none;
}

.select {
    padding: 10px;
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 35px;
    font-size: 12px; 
}

.iconStyle {
    color: lightgray;
    width: 40px;
    height: 40px;
}

.centerItems {
    display: grid;
    justify-items: center;
}

.textareaStyle {
    border-radius: 15pt;
    padding: 20px 20px 13px 20px;
    font-family: -moz-initial;
    font-size: 9pt;
    height: 100px;
    width: 80%;
    resize: none;
}

.saveButtonStyle {
    background-color: #afdbd8;
    border-radius: 35px;
    padding: 8px 12px;
    border: none;
    font-size: 9pt;
}

.deleteButtonStyle {
    background-color: lightgray;
    border-radius: 35px;
    padding: 8px 12px;
    border: none;
    font-size: 9pt;
}

.entryStyle {
    position: relative;
    display: grid;
    justify-items: center;

}

.deleteEntryButton {
    position: absolute;
    right: 50px;
    top: 5px;
    cursor: pointer;
}

.placesidetoside {
    display: flex;
    padding-left: 55%;
}